.warp{
  flex:0 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
.logo {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        margin-left: 14px;
    }
    img {
        height: 48px;
    }
}
