@import "@/styles/media";
@import "@/styles/variable";

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #e9f2f8;
    display: flex;
    align-items: center;
    justify-content: center;
    .bg {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.warp {
    width: 400px;
    height: 600px;
    background: #fff;
    border-radius: 3px;
    padding: 50px 60px;
    z-index: 3;
    text-align: center;
    box-shadow: 0 0 15px rgba(#000000, .1);

    > img {
        height: 54px;
        margin-bottom: 60px;
    }
}

@include responsive($width-small) {
    .warp {
        width: 340px;
        height: 520px;
        padding: 50px 30px 0;
    }
}
