.container {
    overflow: auto;
    position: relative;
    white-space: nowrap;
    &:before{
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        position: absolute;
        border-bottom: 1px solid #d8dce5;
    }

    .tag {
        margin: 0;
        border: none;
        border-right: 1px solid;
        padding: 7px 21px;
        border-radius: 0;
        cursor: pointer;
        user-select: none;
        position: relative;
        transition: border 0s;
    }
}
