.container {
    padding: 3px 14px;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid #efefef;

    :global(.ant-tag) {
        padding: 3px 7px;
        border-radius: 3px;
        cursor: pointer;
    }
}
