@import "@/styles/variable";

.container {
    padding: 5px 14px;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid #d8dce5;

    .tag {
        font-size: 12px;
        padding: 5px 12px;
        border-radius: 3px;
        cursor: pointer;
        color: #333;
        margin-right: 5px;
        display: inline-flex;
        align-items: center;
        border: 1px solid #d8dce5;
        transition: background-color .1s, color .1s;
        &.active{
            color: #fff;
            background: $colorPrimary;
            :global(.iconify) {
                &:hover{
                    color: $colorPrimary;
                    background: #fff;
                }
            }
        }
        :global(.iconify) {
            transition: background-color .1s, color .1s;
            box-sizing: content-box;
            border-radius: 50%;
            margin-left: 5px;
            padding: 1px;
            &:hover{
                color: #fff;
                background: $colorPrimary;
            }
        }
    }
}
