#root{
    height: 100%;
}

*::-webkit-scrollbar-thumb {
     border-radius: 3px;
     background-color: #999;
 }

*::-webkit-scrollbar {
     width: 5px;
     height: 5px;
     background-color: #efefef;
 }
