@import "@/styles/media";
@import "@/styles/variable";

.warpper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.main {
    height: 100%;
    transition: width .3s;
    width: calc(100% - 240px);
}

.content {
    min-height: calc(100% - 48px);
    overflow: hidden;
    position: relative;
}

.nav-bar {
    top: 0;
    z-index: 99;
    position: sticky;
    background-color: #fff;
}

.side-bar {
    top: 0;
    width: 240px;
    flex-shrink: 0;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width .3s;
    height: calc(100vh - 81px);
    border-right: 1px solid #e8e8e8;
    box-shadow: 10px 0 10px -10px rgb(0 0 0 / 12%);

    .logo {
        padding: 14px;
        white-space: nowrap;
    }

    :global .ant-menu.ant-menu-root {
        border-right: none;
    }
}

.side-bar.collapsed {
    width: 81px;
    + .main {
        width: calc(100% - 81px);
    }
    .logo {
        padding: 20px;
        img {
            height: 28px;
        }
        > span {
            display: none;
        }
    }
}

@include responsive($width-small) {
    .main {
        transition: width 0s;
        width: 100% !important;
    }
    .side-bar {
        display: none;
    }
    :global(.ant-drawer-body){
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: #999;
        }
        &::-webkit-scrollbar {
            width: 5px;
            background-color: #efefef;
        }
    }
}
